<div class="header">
	<div class="headBox pageCenter cf">
		<a href="https://write.qq.com/index.html">
    		<img class="logo fl" src="css/author/index/logo.png" width="225" height="28" alt="阅文·作家专区">
		</a>

		<div class="headUser fr">
			<ul class="cf">
				<li id="msgBox" class="bell">
					<a href="https://write.qq.com/authors/authorconsultlist.html">
						<span class="icon">
                			<cite id="msgCount" class="icon" style="display:none;"></cite>
						</span> 
					</a>
					<a href="https://write.qq.com/authors/authorconsultlist.html">通知</a>
            		<dl id="msgList" class="msgBox" style="display:none;"></dl>
          		</li>
          		<li class="line"></li>
          		<li id="headPhotoBox" class="headPhoto">
	            	<p><em><img src="css/author/index/photo_default.png" width="36" height="36" alt=""></em><a class="userName" href="javascript:">{$author['author_name']}</a></p>
	            	<dl class="userBox">
		              	<cite class="icon whiteSj"></cite>
		              	<dd class="userInfo hidden">
		                  <!-- 增加身份标识"ico-level",silver为白金作家，dashen为大神作家 -->
		                <p class="name" title="{$author['author_name']}">{$author['author_name']}</p>                 
		                <p class="level"><span><em style="width:70%">0/0</em></span></p>               
		            	</dd>
		              	<dd class="link"><a href="https://write.qq.com/authors/person.html"><i>完整度68%</i>作家资料</a></dd>
		            	<dd class="link"><a id="openModifyPwdPopupBtn" href="javascript:">更改密码</a></dd>
		            	<dd class="link end"><a href="https://write.qq.com/public/logout.html">退出登录</a></dd>
	            	</dl>
          		</li>
        	</ul>
    	</div>
	</div>
</div>