@charset "UTF-8";
.icon-false i, .icon-ok i {
    margin-right: 5px;
    margin-top: -2px;
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle
}

html {
    background: #fff
}

.blue-s {
    color: #05bec1 !important
}

.content .red {
    color: red !important
}

.content .gh-green {
    color: #6dcb2e;
    font-size: 12px
}

.icon-false, .icon-ok {
    margin-left: 10px
}

.icon-false i {
    background: url(../../../img/member-err.png) no-repeat
}

.icon-ok i {
    background: url(../../../img/prompt.png) no-repeat
}

.member-header {
    border-bottom: 2px solid #04bec1;
    background: #fff
}

.member-header .content {
    height: 63px;
    margin: 0 auto
}

.member-header h1 {
    float: left;
    width: 140px;
    height: 33px;
    margin: 17px 15px 0 0;
    padding-right: 15px;
    border-right: 1px solid #bfbfbf;
    background: url(../../../img/logo-2.png) no-repeat;
    vertical-align: middle;
    text-indent: -9999px
}

.member-header h1 a {
    display: block;
    height: 33px
}

.member-header .name {
    float: left;
    margin: 22px 0 0;
    font-size: 16px;
    color: #333;
    font-family: Microsoft YaHei, "微软雅黑"
}

.login {
    position: relative;
    z-index: 1;
    height: 394px;
    margin: 70px auto 85px
}

.login .login-bg {
    position: absolute;
    top: 0;
    left: -105px;
    width: 710px;
    height: 420px;
    background: url(../../../img/login-bg.jpg) no-repeat
}

.login .login-box {
    position: relative;
    width: 295px;
    padding: 30px 30px 0;
    margin: 0 20px 0 605px;
    border: 1px solid #ededed;
    background: #f8f8f8
}

.login-box h2 {
    padding-bottom: 15px;
    margin-bottom: 35px;
    border-bottom: 1px solid #d0d0d0;
    font: 20px/20px Microsoft YaHei, "微软雅黑";
    color: #04bec1
}

.member .steps, .member small {
    border-bottom: 1px solid #ededed
}

.member .steps, .member h2 {
    font-family: Microsoft YaHei, "微软雅黑"
}

.login-box .error {
    position: absolute;
    top: 72px;
    left: 30px;
    line-height: 28px;
    font-size: 12px;
    color: red
}

.login-box label {
    display: block;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    color: #999
}

.login-box .input-txt {
    width: 282px;
    height: 28px;
    line-height: 28px \9;
    margin-bottom: 5px;
    font-size: 14px
}

.login-box .input-ss {
    width: 75px
}

.input-txt::-webkit-input-placeholder {
    color: #333
}

.input-txt:-moz-placeholder {
    color: #333
}

.login-box .checkbox input {
    margin: -2px 4px 0 0;
    vertical-align: middle
}

.verification-code {
    overflow: hidden;
    width: 302px
}

.verification-code .blue-s, .verification-code .change, .verification-code .code-img, .verification-code .input-txt {
    float: left
}

.verification-code .code-img {
    width: 75px;
    height: 28px;
    margin-left: 15px
}

.verification-code .blue-s, .verification-code .change {
    line-height: 28px;
    margin: 0 0 0 12px
}

.verification-code .reg-link {
    position: relative;
    top: -1px
}

.other-way img {
    width: 15px;
    position: relative;
    top: 3px
}

.login-mode {
    width: 302px;
    margin: 10px 0 30px;
    overflow: hidden
}

.login-mode .change-but, .login-mode .checkbox, .login-mode .reg-link {
    float: left
}

.login-mode .btn-red-b {
    width: 140px;
    margin-right: 10px
}

.login-mode .checkbox {
    margin-right: 10px;
    line-height: 40px;
    font-size: 12px;
    color: #333
}

.login-mode .reg-link {
    line-height: 40px
}

.login-box p {
    height: 60px;
    border-top: 1px solid #ededed
}

.login-box p a {
    display: inline-block;
    margin-top: 20px;
    height: 16px;
    line-height: 16px;
    margin-right: 14px
}

.login-box p a.qq {
    background-position: 0 0
}

.login-box p a.sina {
    background-position: 0 -34px
}

.login-box p a.weixin {
    background-position: 0 -68px
}

.member {
    width: 713px;
    height: 518px;
    padding: 30px 70px;
    border: 1px solid #ededed
}

.steps .arrow-db i, .steps .arrow-db s {
    border-top-style: dashed;
    border-top-color: transparent;
    border-left-style: solid
}

.member h2 {
    height: 38px;
    line-height: 38px;
    font-size: 24px;
    color: #333
}

.member dt {
    float: left;
    width: 68px;
    line-height: 30px;
    font-size: 14px;
    color: #333;
    text-align: right
}

.member dd {
    margin: 0 0 22px 72px
}

.member .input-txt {
    width: 259px;
    font-size: 14px;
    vertical-align: middle
}

.member .tips {
    margin-left: 10px;
    line-height: 30px;
    vertical-align: middle
}

.member .icon-ok {
    display: inline-block;
    height: 16px;
    vertical-align: middle
}

.member .steps li {
    float: left;
    width: 230px;
    height: 36px;
    line-height: 36px;
    padding-left: 15px;
    font-size: 15px;
    color: #fff;
    background: #bababa
}

.member small {
    display: block;
    line-height: 24px;
    padding-bottom: 14px;
    font-size: 12px
}

.member .regist {
    padding: 25px 0 10px 65px
}

.regist dd img {
    margin: 0 10px;
    vertical-align: middle
}

.regist .code {
    width: 74px;
    vertical-align: middle
}

.regist .checkbox {
    margin-top: 22px
}

.regist .checkbox input {
    margin-right: 7px;
    margin-top: -2px;
    vertical-align: middle
}

.regist .btn-red-b {
    width: 195px;
    margin: 15px 0
}

.member .steps {
    overflow: hidden;
    width: 713px;
    margin-bottom: 20px;
    padding: 7px 0 20px;
    font-size: 15px;
    color: #fff
}

.member li.reset {
    padding-left: 35px
}

.member .steps li em {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    line-height: 16px;
    text-align: center;
    font-size: 12px;
    color: #bababa;
    background: url(../../../img/find-pwd-steps.png) no-repeat
}

.steps .arrow-db s {
    top: 50%;
    right: -42px;
    z-index: 1;
    margin-top: -24px;
    border-left-color: #fff;
    border-width: 24px
}

.steps .arrow-db i {
    top: -18px;
    left: -24px;
    z-index: 4;
    border-left-color: #bababa;
    border-width: 18px
}

.steps li.current {
    color: #fff;
    background: #04bec1
}

.steps li.current i {
    border-left-color: #04bec1
}

.steps li.current em {
    color: #04bec1
}

.member-prompt {
    margin-bottom: 22px;
    line-height: 22px;
    color: #999;
    margin-left: 39px
}

.member-prompt strong {
    font-size: 14px;
    font-weight: 700;
    color: #333
}

.yellow-meg {
    margin-top: 14px;
    padding: 8px 20px;
    line-height: 18px;
    border: 1px solid #f8daa4;
    font-size: 12px;
    color: #764f41;
    background: #fffae4
}

.find-pwd .yellow-meg {
    width: 205px;
    margin-left: 8px
}

.member .btn-grey-m2 {
    margin-left: 10px;
    vertical-align: middle
}

.member button {
    display: block;
    margin-top: 22px
}

.member .top-has-meg {
    margin-top: 14px;
    margin-left: 9px
}

.feedback {
    width: 715px;
    height: 520px
}

.feedback .feedback-info, .member .feedback-info {
    position: relative;
    margin-bottom: 7px;
    font: 20px/40px Microsoft YaHei, "微软雅黑";
    color: #333
}

.member .feedback-info {
    margin: 35px 0 20px 40px
}

.member .feedback-info .member-prompt {
    margin-top: 5px;
    font: 12px/22px SimSum, "宋体";
    font-weight: 400
}

.feedback .btns {
    margin: 25px 0 0 39px
}

.feedback .btns a {
    margin-right: 14px
}

.feedback-info .icon-false, .feedback-info .icon-ok {
    position: absolute;
    top: 6px;
    left: -40px;
    display: block;
    width: 30px;
    height: 30px;
    background: url(../../../img/prompt.png) no-repeat
}

.feedback-info .icon-ok {
    background-position: 0 -18px
}

.feedback-info .icon-false {
    background-position: -32px -18px
}

.alert-box {
    position: relative;
    display: inline-block;
    padding: 20px 40px 18px;
    border: 1px solid #ededed;
    color: #333
}

.alert-box h3 {
    position: absolute;
    top: -7px;
    left: 35px;
    padding: 0 5px;
    font-weight: 700;
    color: #333;
    background: #fff
}

.alert-box .btn-blue-s {
    width: 92px;
    margin-top: -2px;
    vertical-align: middle
}

.member .third-regist {
    padding: 40px 0 0
}

.third-regist h3 {
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: 700;
    color: #333
}

.third-regist .third-infor {
    margin-right: 50px;
    padding-right: 50px;
    padding-bottom: 70px;
    border-right: 1px solid #ededed
}

.third-regist .tadu-infor, .third-regist .third-infor {
    width: 304px;
    padding-top: 20px
}

.member .third-regist .input-txt {
    width: 212px
}

.member .regist .code {
    width: 74px
}

.member .find-pwd .code {
    width: 155px
}

.third-regist dd img {
    margin: 0 6px
}

.third-regist .tadu-infor dd .btn-red-b {
    display: inline-block;
    width: 140px;
    vertical-align: middle
}

.third-regist .tadu-infor dd a {
    display: inline-block;
    vertical-align: middle
}

.member .login-sp dt {
    margin-right: 8px
}

.change, .symbol {
    margin-right: 5px
}

.goback {
    float: right;
    line-height: 63px
}

.member .tiperr, .member .tipright {
    line-height: 30px;
    vertical-align: middle
}

.change {
    display: inline-block;
    margin-left: 90px
}

.input-sp::-webkit-input-placeholder {
    color: #a2a2a2
}

.input-sp:-moz-placeholder {
    color: #999
}

.input-sp::-moz-placeholder {
    color: #999
}

.input-sp:-ms-input-placeholder {
    color: #999
}

.member-ss {
    padding: 0 50px;
    width: 755px
}

.member .tipright {
    margin-left: 0;
    margin-left: 5px \9;
    color: #6dcb2e
}

.member .tiperr {
    margin-left: 0;
    margin-left: 5px \9;
    color: red
}

.input-err {
    height: 28px;
    line-height: 28px \9;
    padding: 0 7px;
    border: 1px solid #d0d0d0;
    outline: 0;
    background: url(../../../img/input-bg.gif) no-repeat;
    width: 259px;
    font-size: 14px;
    vertical-align: middle
}

.focus.input-err, .input-err:focus {
    border: 1px solid red
}

.member .icon-err {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../../../img/member-err.png) no-repeat;
    vertical-align: middle
}

.space-tabbar li a.current s {
    bottom: -9px
}

.btn-blue-m2:hover, .btn-red-b:hover, .btn-red-m2:hover, .btn-red-m:hover, .btn-red-s:hover, .change-but:hover {
    background: #05cfd2
}

.passport-content {
    padding: 30px 20px 20px;
    line-height: 26px;
    word-wrap: break-word;
    border: 1px solid #ededed
}

.passport-content .title {
    display: block;
    color: #666;
    font-size: 14px;
    font-weight: 700;
    text-align: center
}

/*# sourceMappingURL=maps/member.css.map */
